.snakemake
archive
*/archive
*/*/archive
*/.snakemake_timestamp
datapackage/SETS/Sets- Not in use

check_flags
clewsy_test
log

datapackage/Params

scripts/__pycache__
workflow/scripts/__pycache__

workflow/__pycache__
workflow/BCNexus_Scenarios
workflow/check_flags
workflow/logs