.vscode
archive
bcnexus.egg-info

data/clews_data/Model_Kotzur
data/clews_data/Model_Niet

dev_resources

*/*/__pycache__
*/__pycache__
__pycache__


data/clews_data/Model_Kotzur/*
data/clews_data/LandClusterData/figs/*.pdf
data/clews_data/clews_build_data/Model_Kotzur
data/clews_data/LandClusterData
vis/*
log.txt
Base_CNZ_noCCS/results/clews/Model_Kotzur_Base_CNZ_noCCS/4ts/runtime_memory_log.txt
Base_CNZ_noCCS/results/clews/Model_Kotzur_Base_CNZ_noCCS/8ts/runtime_memory_log.txt
data/clews_data/clews_build_data/*
results/*