
    .container {
        max-width: calc(32 * 6 + 12px);
        display: grid;
        grid-template-columns: repeat(1, 32);
        grid-gap: 1px; /* Adjust as needed */
    }

    .subplot {
        width: 32;
        height: auto;
        padding: 2px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    }

    /* Add grid lines to subplots */
    .subplot table {
        border-collapse: collapse;
        width: 100%;
    }

    .subplot th, .subplot td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    